.news {
    margin: 0 auto;
}

.news h3 {
    display: block; 
    height: 40px;
    font-weight: bold;
}

.news .newsAboutProduct p {
    text-align: left;       
    padding: 15px;
    font-size: 20px;
}

.news .newsAboutProduct h4 {
    font-weight: bold;
}

.news .newsAboutProduct img {
    display: flex;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}